body{
    background-repeat:no-repeat;
    background-size: 80% 800px;
    background-image: none;
    margin:auto;
    padding: 12px;
   background-size:cover;
   font-size: 35px;
}



h1{
    text-align:center;
    color:black;
}
.button {
    background-color: blue;
    color: white;
    padding: 3px 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
}